
button{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
	color : #b40cf7;
	background: gold;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration : none;
    font-size : 24px;
    overflow: hidden;
    transition: 0.2s;
}
button:hover{
     color : #09ffeb;
     background: #cc00f5;
     box-shadow: 0 0 10px #cc00f5, 0  0 40px #cc00f5, 0 0 80px #cc00f5;
     transition-delay: 0.10s;
}




h1{ 
	 color : gold;
	 background-color : black;
	 font-family : 'castellar';
	 font-size : 40px;
	 }
	 h3,p{
	   color : yellow ; 
	   background-color : grey;
	   font-family : 'Chaparral Pro Light';
	   font-size : 25px;
		}
	 p.ans{
	  font-family : Cooper Black;
	  background-color : #b9b8ac;
	  color : black;
	  font-size : 25ps;
	  }
    .design1{ 
	   color : #cbfeff;
	   font-size : 20px;
	   font-family : cooper black;
	   }
	
	textarea{
	 background-color : #FAEBD7;
	 font-family : Chaparral Pro Light;
	 font-size : 25px;
      }	
	 